body{
  background-color: #FFDD00;
  text-align: center;
}

.bike-logo{
  width: 250px;
  height: 200px;
  margin-top: 50px;
}


@media (min-width: 480px){
  #carousel-example-generic{
    display: none;
  }
}

@media (max-width:480px){
  .responsive{
    display: none;

  }
  }

.colin{
display: inline-block;
width: 30%;
/*height: 100px;*/
}

@media (min-width:480px){
  .appear{
    visibility: visible;
  }
}

@media (max-width:480px){
  .appear{
    display: none;
  }
}

.appear{
  margin-top: 10px;
}

.appear section{
  font-weight: bold;

}

.lowest{
  margin-bottom: 40px;
}

.map{
  margin-bottom: 50px;
}
